html,body{
   width:100%;
   height:100%;
   padding:none;
   margin:none;
   overflow-x: hidden;
}

/*-----------------------------
    Navbar1
------------------------------*/
#navbar1{
   background-color: #10316b;
}
#navbar1_top{
   background-color:#fdbe34;
   height:25px;
}
#navbar1_left a{
   color:white;
   font-size: 25px;
   padding-top: 35px;
}
#navbar1_center img{
   height: 100px;
   width: 130px;
}
#navbar1_right a{
   color:white;
   font-size: 35px;
   padding-top: 30px;
}

/*-----------------------------
    Mobile Navbar1
------------------------------*/
@media screen and (max-width:415px){
   #navbar1_right{
      display:none;
   }
}

/*-----------------------------
    Carousel
------------------------------*/
#carousel img{
   width:100%;
   height:440px;
}
#carousel .carousel-caption{
   background-color:#fdbe34;
}
#carousel .carousel-item h3{
   color:red;
}
#carousel .carousel-item p{
   color:white;
}
#carousel .carousel-item a{
   background-color: #0b409c;
   color:white;
}

/*-----------------------------
    Navbar2
------------------------------*/
#navbar2 a{
   color:#10316b;
}
#navbar2_info{
   height:250px;
}
#info_1{
   background-color:#0b409c;
}
#info_1 .container{
   text-align: right;
}
#info_1 h1{
   color:#fdbe34;
}
#info_1 p{
   color: white;
}
#info_1 a{
   background-color:#fdbe34;
   color: black;
}
#info_2{
   background-color:#10316b;
}
#info_2 h1{
   color: #fdbe34;
}
#info_2 p{
   color: white;
}
#info_2 a{
   background-color:#fdbe34;
   color: black;
}

/*-----------------------------
    Mobile Navbar2
------------------------------*/
@media screen and (max-width:415px){
   #info_1 .container{
      text-align: center;
   }
   #info_2 .container{
      text-align: center;
   }
}

/*-----------------------------
    About
------------------------------*/
#about{
   padding-top: 70px;
   padding-bottom: 70px;
}
#about h1{
   color:#10316b;
   font-size: 55px;
}
#about p{
   color:#808080;
   font-size: 28px;
}
#about a{
   background-color: #ffc107;
   color:#10316b;
}
#about img{
   width:100%;
}

/*-----------------------------
    Academics
------------------------------*/
#academics{
   background-image: url("../images/academics1.jpg");
   padding-top: 70px;
   padding-bottom: 70px;
   background-size: cover;
   background-repeat: no-repeat;
}
#academics img{
   width:100%;
   margin-bottom: 10px;
}
#academics a{
   background-color:#0b409c;
   color: white;
}
#school_section{
   text-align: center;
}

/*-----------------------------
    Gallery
------------------------------*/
#gallery{
   background-image: url("../images/gallery1.jpeg");
   padding-top: 70px;
   padding-bottom: 70px;
   background-size: cover;
   background-repeat: no-repeat;
}
#gallery img{
   width: 100%;
}
#gallery .row{
   margin-bottom: 10px;
}

/*-----------------------------
    Contact
------------------------------*/
#contact{
   padding-top: 70px;
   padding-bottom: 70px;
}
#contact .col-md-6{
   background-color:#fdbe34;
   border-radius: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
}
#contact_button{
   background-color:#10316b;
   color: white;
}

/*-----------------------------
    Mobile Contact Section
------------------------------*/
@media screen and (max-width:415px){
   #contact .col-12{
      border-radius: 0px;
   }
}

/*-----------------------------
    Footer
------------------------------*/
footer{
   background-color: #10316b;
   padding-top: 30px;
}
footer img{
   width:150px;
   height:100px;
}
footer a{
   color:white;
}
#socialmedia_footer a{
   font-size: 30px;
   letter-spacing: 10px;
}
footer h3{
   color:white;
}
footer form .btn{
   background-color:#fdbe34;
   color:black;
}
footer p{
   color:white;
}
#copyright_section{
   border-top: 0.5px solid white;
}

/*-----------------------------
    Mobile Footer
------------------------------*/
@media screen and (max-width: 376px){
   #copyright_section p{
      font-size: 6px;
   }
   #socialmedia_footer{
      display:none;
   }
   #mobile_footer{
      display:none;
   }
   footer p{
      font-size: 12px;
   }
   footer img{
      width:100%;
   }
}
